@import "tailwindcss";
/* Ensure full width layout */
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.active {
  border-radius: 0%;
  border-bottom: 2px solid rgb(61, 230, 61);
}

