@import "tailwindcss";
/* Ensure full width layout */
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.active {
  border-radius: 0%;
  border-bottom: 2px solid rgb(61, 230, 61);
}

@layer components {
  .section-container {
     @apply w-full lg:w-10/12 xl:max-w-7xl mx-auto;
  }

  .section-padding {
     @apply py-6 sm:py-10 xl:py-20 px-4 sm:px-6 md:px-8 lg:px-10;
  }
}
